body, html {
    margin: 0;
    padding: 0;
    background-color: ghostwhite;
    font-family: Arial, serif;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
